@using MagicItems.Shared.Models
@using MudBlazor

<div class="board-item">
    <MudPaper Class="board-item pa-3 ma-3">

        <MudGrid Justify="Justify.SpaceEvenly">

            @if (IsEditing)
            {
                <MudTextField @bind-Value="Item.ItemName" Label="Item Name" Variant="Variant.Outlined" />
                <MudSelect @bind-Value="Item.CategoryName" Required="true" T="string" Label="Rarities" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" RequiredError="Rarity is required!">
                    @foreach (var category in CategoryList)
                    {
                        <MudSelectItem Value="@(category.CategoryName)" />
                    }
                </MudSelect>
                <MudTextField @bind-Value="Item.Price" Label="Price" Variant="Variant.Outlined" />
                <MudIconButton OnClick="async () => await AddToPrice()" Icon="@Icons.Material.Filled.Add" aria-label="Add 100 to price" />
                <MudIconButton OnClick="async () => await SubtractFromPrice()" Icon="@Icons.Material.Filled.Remove" aria-label="Subtract 100 from price" />
                <MudSelect @bind-Value="Item.RarityName" Required="true" T="string" Label="Rarities" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" RequiredError="Rarity is required!">
                    @foreach (var rarity in RarityList)
                    {
                        <MudSelectItem Value="@(rarity.RarityName)" />
                    }
                </MudSelect>
            }
            else
            {
                <MudGrid Justify="Justify.SpaceBetween" AlignItems="Center">
                    <MudItem xs="12" sm="3">
                        <MudText Typo="Typo.h5">@Item.ItemName</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="3">
                        <MudText Typo="Typo.h5">Category: @Item.CategoryName</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="2">
                        <MudText Typo="Typo.h5">Price: @Item.Price gp</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="2">
                        <MudText Typo="Typo.h5">Rarity: @Item.RarityName</MudText>
                    </MudItem>
                    <MudItem xs="12" sm="2">
                    @if (!itemVisible)
                    {
                        <MudButton OnClick="@(() => SendItemDetails(Item))" Variant="Variant.Filled" Style="background-color: gray; color: white;" EndIcon="@Icons.Material.Filled.HideImage">Hide</MudButton>
                    }
                    else
                    {
                        <MudButton OnClick="@(() => SendItemDetails(Item))" Variant="Variant.Filled" Style="background-color: deepskyblue; color: white;" EndIcon="@Icons.Material.Filled.RemoveRedEye">Show</MudButton>
                    }
                        <MudButton OnClick="@(() => SellItem(Item))" Variant="Variant.Filled" Style="background-color: green; color: white;" EndIcon="@Icons.Material.Filled.Sell">Sell</MudButton>
                    </MudItem>
                </MudGrid>
            }

        </MudGrid>
    </MudPaper>
</div>

@code {
    [Parameter]
    public Items Item { get; set; }

    [Parameter]
    public bool IsEditing { get; set; }

    //Get those from board
    [Parameter]
    public List<Category> CategoryList { get; set; } = new List<Category>();
    [Parameter]
    public List<Rarities> RarityList { get; set; } = new List<Rarities>();

    [Parameter] 
    public EventCallback<Items> OnShowDetails { get; set; }
    [Parameter]
    public EventCallback<Items> OnSellItem { get; set; }


    private bool itemVisible = true;

    private void SendItemDetails(Items? item)
    {
        if (item != null)
        {
            OnShowDetails.InvokeAsync(item);
        }
        itemVisible = !itemVisible;

    }

    private void SellItem(Items? item)
    {
        if (item != null)
        {
            OnSellItem.InvokeAsync(item);
        }
    }

    private async Task AddToPrice()
    {
        Item.Price += 100;
    }

    private async Task SubtractFromPrice()
    {
        Item.Price = Item.Price >= 100 ? Item.Price - 100 : Item.Price;
    }
}
