@using MagicItems.Shared.Models

@if (Item is null)
{
}
else
{
    <MudGrid Justify="Justify.FlexStart">
        <MudItem>    
            <div class="custom-card">
                <MudCard >
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudStack AlignItems="AlignItems.Center">
                                <MudText Typo="Typo.h2">@Item.ItemName</MudText>
                                <MudText Typo="Typo.h5">Rarity: @Item.RarityName</MudText>
                            </MudStack>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@Item.LongDescription</MudText>
                    </MudCardContent>
                    <MudCardContent>
                        <MudStack AlignItems="AlignItems.Center">
                            <div class="price-section">
                                <MudText Typo="Typo.body2">Price: @Item.Price</MudText>
                            </div>
                            <MudText Typo="Typo.body2">Category: @Item.CategoryName</MudText>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudItem>
    </MudGrid>
}

@code {
    [Parameter] public Items? Item { get; set; }
}
