@* <h3>SimpleMagicItem</h3> *@

@using MagicItems.Shared.Models

<MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
    <MudGrid>
        <MudItem xs="12" md="8">
            <MudText Typo="Typo.h4">@Item.ItemName</MudText>
            <MudText>@Item.ShortDescription</MudText>
            <MudText>@Item.LongDescription</MudText>
            <MudText>Price: @Item.Price</MudText>
            <MudText>Rarity: @Item.RarityName</MudText>
            <MudText>Category: @Item.CategoryName</MudText>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter] public Items Item { get; set; }

}