@page "/shopPage"

@using MagicItems.Shared.Models
@using MagicItems.UI.Services
@using MagicItems.UI.ReusableComponents
@using MudBlazor

@inject ISnackbar Snackbar
@inject ShopItemService ShopItemService
@inject CategoryService categoryService
@inject RarityServicecs raritiesService
@inject ShopService shopService
@inject ItemsService itemService
@inject NavigationManager navigationManager
    
@if (shops is not null)
{
    <MudGrid Justify="Justify.FlexStart">
        <MudItem sm="12" md="6" lg="5">
            <div style="display: flex; align-items: center;">
                <MudFab Href="/shopCreate" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Create new shop!"></MudFab>
            </div>
            @foreach (var item in shops)
            {
                <MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
                    <div style="display: flex; align-items: center;">
                        <MudStack Spacing="3">
                            <MudText Typo="Typo.h4">@item.ShopName</MudText>
                            <MudText Typo="Typo.h5">The owner of shop is: @item.ShopOwner</MudText>
                        </MudStack>
                        <div style="margin-left: auto;">
                            <MudIconButton OnClick="(async () => await EditShop(item.ShopName))" Icon="@Icons.Material.Filled.Edit" Title="Favorite" Color="@Color.Primary" />
                            <MudIconButton OnClick="(async () => await ShowShop(item))" Icon="@Icons.Material.Filled.RemoveRedEye" Title="Show Shop" Color="@Color.Primary" />
                            <MudIconButton OnClick="(async () => await DeleteShop(item.ShopName))" Icon="@Icons.Material.Filled.Delete" Title="Delete" Color="@Color.Error" />

                            <MudButton OnClick="(async () => await GoToShopPage(item.ShopName))" Variant="Variant.Filled" Color="Color.Primary">Go to shop page -></MudButton>
                            
                        </div>
                    </div>
                </MudPaper>
            }
        </MudItem>
        <MudItem sm="12" md="6" lg="5">

            @if (showShop)
            {
                <MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
                <MudText Typo="Typo.h5">@shopToShow.ShopName</MudText>
                <MudText Typo="Typo.h6">The owner of shop is: @shopToShow.ShopOwner</MudText>
                @foreach (var item in itemsToShow)
                {
                        <MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
                            <div style="display: flex; align-items: center;">
                                <MudGrid>
                                    <MudItem>
                                        <MudText Typo="Typo.subtitle2"> @item.ItemName </MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.subtitle2"> @item.ShortDescription </MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.subtitle2"> Price: @item.Price </MudText>
                                    </MudItem>
                                                                  
                                </MudGrid>
                                
                            </div>
                        </MudPaper>
                }
                </MudPaper>
            }

        </MudItem>
    </MudGrid>
}
else
{
<p>Loading...</p>
}

@code {
    private Shop[]? shops;

    private Items? shownItem;
    private bool editingItem = false;
    private bool addingItem = false;

    private int editingItemId = 0;

    private ItemsDTO itemToUpdate = new ItemsDTO();

    private bool showShop = false;
    private Shop shopToShow = new Shop();
    private List<Items> itemsToShow = new List<Items>();

    protected override async Task OnInitializedAsync()
    {
        await LoadShops();
    }

    private async Task LoadShops()
    {
        shops = await shopService.GetShopsAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadShops();
    }

    private async Task DeleteShop(string shopName)
    {
        await shopService.DeleteShopAsync(shopName);
        await LoadShops();
        if (shopName == shopToShow.ShopName)
        {
            shopToShow = null;
            itemsToShow = new List<Items>();
            showShop = false;
        }
    }

    private async Task ShowShop(Shop shop)
    {
        shopToShow = shop; 
        var itemsFromShop = await ShopItemService.GetItemsInShop(shop.ShopName);
        itemsToShow = itemsFromShop.ToList();
        showShop = true;
    }

    private async Task EditShop(string shop)
    {
        navigationManager.NavigateTo($"/shopEdit/{shop}");
    }
    
    private async Task GoToShopPage(string shop)
    {
        navigationManager.NavigateTo($"/shopMain/{shop}");
    }

}
