@page "/shopEdit/{ShopToEditName}"

@using MagicItems.Shared.Models
@using MagicItems.UI.Services
@using MagicItems.UI.ReusableComponents,
@using MudBlazor

@inject ISnackbar Snackbar
@inject ShopItemService ShopItemService
@inject CategoryService categoryService
@inject RarityServicecs raritiesService
@inject ShopService shopService
@inject ItemsService itemService
@inject NavigationManager NavigationManager


<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <div class="main-part-style">
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h4">Information about shop:</MudText>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            <MudTextField @bind-Value="ShopToEdit.ShopName" T="string" Label="What is name of this shop?" Required="true" RequiredError="Shop have to have a name!" />
            <MudTextField @bind-Value="ShopToEdit.ShopOwner" T="string" Label="Who runs this shop?" />
        </MudForm>
    </MudPaper>
    </div>

    <div style="margin: 10px 0;"></div>

    <MudGrid Justify="Justify.FlexStart">
        <MudItem xs="6">
            <MudStack>
                <MudPaper Class="d-flex align-center justify-center mud-width-full">
                    <MudStack Spacing="3">
                        <MudText Typo="Typo.h4">Add items to shop: </MudText>

                            <ItemFilter OnFilterApplied="HandleFilterApplied" Row="true"></ItemFilter>
                            @foreach (var item in itemsListToPick)
                            {
                                <MudPaper Class="pa-3 align-baseline" Elevation="5" Outlined="true" Square="true">
                                    <div style="display: flex; align-items: center;">
                                        <MudText Typo="Typo.h4">@item.ItemName</MudText>
                                        <div style="margin-left: auto;">
                                            <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Favorite" OnClick="@(() => AddItemToShopList(item))" />
                                            <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="@Color.Primary" OnClick="@(async () => await ShowItem(item))" />
                                        </div>
                                    </div>
                                </MudPaper>
                            }
                        
                    </MudStack>

                </MudPaper>

                <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">

                    <MudText Typo="Typo.h6">Add few random items to shop:</MudText>
                    <MudPaper Class="pa-1 ma-1" Elevation="0">
                        <MudGrid>
                            <MudNumericField @bind-Value="howManyItems" Variant="Variant.Outlined" HelperText="How many items should be added" Step="1" Min="1" />
                            <MudButton Variant="Variant.Filled" Style="background-color: lightseagreen; color: white;" EndIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="@(() => GetRandomItemsAsync(howManyItems))">Add random items!</MudButton>
                        </MudGrid>
                    </MudPaper>

                </MudPaper>

            </MudStack>
        </MudItem>
        <MudItem xs="6">
            <MudStack Spacing="3">
                <MudPaper Class="pa-3 align-baseline" Elevation="5" Outlined="true" Square="true">
                    <MudItem>
                        @if (itemInShop.Count == 0)
                        {
                            <MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
                                <div style="display: flex; align-items: center;">
                                    <MudText Typo="Typo.h4">There are no items in shop yet!!</MudText>
                                </div>
                            </MudPaper>
                        }
                        else
                        {
                            <MudStack>
                                <div style="display: flex; align-items: center;">
                                    <MudText Typo="Typo.h4">Items in shop: </MudText>
                                </div>
                                @foreach (var item in itemInShop)
                                {

                                    <MudPaper Class="pa-3 align-baseline" Elevation="3" Outlined="true" Square="true">
                                        <div style="display: flex; align-items: center;">
                                            <MudText Typo="Typo.h4">@item.ItemName</MudText>
                                            <div style="margin-left: auto;">
                                                <MudButton Variant="Variant.Filled" Style="background-color: orangered; color: white;" EndIcon="@Icons.Material.Filled.Remove" OnClick="@(() => RemoveItemFromShopList(item))">Remove</MudButton>
                                                <MudButton Variant="Variant.Filled" Style="background-color: cornflowerblue; color: white;" EndIcon="@Icons.Material.Filled.RemoveRedEye" OnClick="@(async () => await ShowItem(item))">Show</MudButton>
                                            </div>
                                        </div>
                                    </MudPaper>
                                }
                            </MudStack>
                        }
                    </MudItem>
                </MudPaper>
                <MudItem>
                    @if (itemToShow is not null)
                    {
                        <ItemDisplayComponent Item="itemToShow"></ItemDisplayComponent>
                    }
                </MudItem>
                <MudItem>
                    <div class="px-3 py-3 mud-elevation-10 rounded-xl fixed" style="bottom:20px;right:20px;background-color: white">
                        <MudButton Variant="Variant.Filled" Style="background-color: darkgreen; color: white;" EndIcon="@Icons.Material.Filled.AddBusiness" Size="Size.Medium" OnClick="async () => await CreateShop()">Update!</MudButton>
                    </div>
                </MudItem>
            </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter] public string ShopToEditName { get; set; }

    private Shop ShopToEdit = new Shop();

    MudForm form;
    bool success = false;
    string[] errors = { };


    private List<Items> itemInShop = new List<Items>();
    private List<Items> OldItemInShop = new List<Items>();
    private List<Items> itemsListToPick = new List<Items>();
    private Category[] CategoryList = { };
    private Rarities[] RarityList = { };

    private Items? itemToShow;

    private int howManyItems = 5;


    protected override async Task OnInitializedAsync()
    {
        await GetShopToEdit();
        await LoadCategories();
        await LoadRarities();
        await LoadItemsToPickFrom();
        await LoadItemsInShop();
    }

    private async Task GetShopToEdit()
    {
        var shopList = await shopService.GetShopsAsync(ShopToEditName);
        ShopToEdit = shopList[0];
    }

    private async Task LoadCategories()
    {
        CategoryList = await categoryService.GetCategoriesAsync();
    }

    private async Task LoadRarities()
    {
        RarityList = await raritiesService.GetRaritiesAsync();
    }

    private async Task LoadItemsInShop()
    {
        var itemsFromShop = await ShopItemService.GetItemsInShop(ShopToEdit.ShopName);
        itemInShop = itemsFromShop.ToList();
        OldItemInShop = itemsFromShop.ToList();
    }

    private async Task LoadItemsToPickFrom()
    {
        var itemsFromDatabase = await itemService.GetItemsAsync();
        itemsListToPick = itemsFromDatabase.ToList();
    }

    private void HandleFilterApplied(Items[] items)
    {
        itemsListToPick = items.ToList();
    }

    private void AddItemToShopList(Items item)
    {
        if (!itemInShop.Contains(item))
        {
            itemInShop.Add(item);
            itemsListToPick.Remove(item);
        }
        else
        {
            Snackbar.Add("Item is already in shop!", Severity.Error);
        }

    }

    private void RemoveItemFromShopList(Items item)
    {
        itemInShop.Remove(item);

        if (!itemsListToPick.Contains(item)) itemsListToPick.Add(item);
    }

    public async Task GetRandomItemsAsync(int count)
    {
        var items = await itemService.GetItemsAsync();

        if (count > items.Count())
        {
            Snackbar.Add("You can order more items than all :D", Severity.Error);
            return;
        }

        var random = new Random();
        var randomItems = items.OrderBy(x => random.Next()).Take(count).ToList();

        foreach (var item in randomItems)
        {
            if (!itemInShop.Contains(item)) itemInShop.Add(item);
            Snackbar.Add("Items added (repetitions have been omitted)", Severity.Success);
        }
    }

    private async Task ShowItem(Items item)
    {
        itemToShow = item;
    }

    private async Task CreateShop()
    {

        await form.Validate();
        if (form.IsValid)
        {
            if (itemInShop.Count != 0)
            {
                await shopService.UpdateShopAsync(ShopToEdit.ShopId, new ShopDTO(ShopToEdit.ShopName, ShopToEdit.ShopOwner));
                foreach (var item in OldItemInShop)
                {
                    await ShopItemService.RemoveItemFromShopAsync(ShopToEdit.ShopName, item.ItemName);
                }
                await ShopItemService.AddItemListToShopAsync(ShopToEdit.ShopName, itemInShop.ToArray());
                Snackbar.Add("Shop Created!", Severity.Success);
                NavigationManager.NavigateTo("/shopPage");
            }
            else
            {
                Snackbar.Add("Fill shop with items!", Severity.Error);
            }
        }

    }

}